html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  overflow-x: hidden;
}

nav.navbar {
  border-color: transparent;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1vw;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

#home:visited,
#about:visited,
#ministries:visited,
#im-new:visited,
#contact:visited {
  text-decoration: none;
  background: none;
  border: 2px solid #000;
  color: #000;
}

ul.nav:hover {
  text-decoration: none;
  color: #000;
  background: none;
}

.navbar .navbar-brand {
  background-color: transparent;
  border: none;
}

.navbar .navbar-brand img {
  height: 3em;
  border-radius: 50%;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}

ul.nav {
  margin-right: 1.5vw;
  padding-top: 5px;
}

.nav a {
  color: #fff;
  background: transparent;
  padding-top: 5px;
}

span.hamburger {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  float: right;
  margin-top: -1.8em;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
  text-decoration: none;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.responsive-nav-buttons {
  display: none;
}

.headline-wrapper {
  width: 114%;
  background-image: url(/RGC/img/BG.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: calc(50% - 50vw);
  margin-top: -20vw;
  padding-bottom: 1vw;
}

#headline {
  margin-top: 25vw;
  text-align: center;
  color: #fff;
  font-size: 9.2vw;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 10px;
  overflow-y: hidden;
}

hr.styled {
  height: 1px;
  width: 75%;
  margin: 0 auto;
  border: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.new-tagline h1 {
  font-family: "Kristi", serif;
  font-size: 3em;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-right: 0.2em;
}

span {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.new-button {
  font-family: "Montserrat", sans-serif;
  color: #2cfff1;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.new-button a {
  display: inline-block;
}

.new-button h1 {
  color: #2cfff1;
  font-size: 1.5em;
  border: 3px solid #2cfff1;
  display: inline-block;
  padding: 15px 15px;
  margin-right: 1em;
}

#sermon-link {
  display: inline-block;
}

.fa-6x {
  display: none;
}

.col-md-4 {
  margin: 2em auto;
  text-align: center;
}

.service-times {
  text-align: center;
  font-family: "Montserrat", serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 auto;
}

.service-times h3 {
  font-size: 1.2em;
}

.service-times strong {
  color: #2cfff1;
  font-size: 1.2em;
  display: none;
}

#service-hr {
  height: 1px;
  width: 50%;
  margin: 1.2em auto 0 auto;
  border: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(44, 255, 241, 0.75), rgba(255, 255, 255, 0));
}

.current-series {
  background: #ededed;
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
  display: inline-block;
}

.series-transition {
  display: inline-block;
}

.current-series a {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.current-series h1 {
  font-size: 2.5em;
  font-family: "Montserrat", san-serif;
  text-transform: uppercase;
  padding: 0.8em auto;
}

.current-series img {
  max-height: 70%;
  max-width: 70%;
  vertical-align: top;
  border-radius: 2%;
}

.content {
  font-family: "Josefin Slab", serif;
  font-size: 1em;
  width: 100%;
}

.message {
  text-align: center;
}

.tagline-body {
  text-align: center;
}

.tagline-body p {
  font-size: 0.8em;
}

.tagline-script {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: #2cfff1;
  text-transform: uppercase;
}

.row {
  width: 103%;
}

.leadership {
  width: 100%;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  text-align: center;
  background: #ededed;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

footer {
  height: 110px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-bottom: 8em;
  background-color: #292a2b;
}

.church-info {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
}

.fa-2x {
  color: #fff;
  display: inline-block;
  margin: 0.5em 0.3em 0 0.3em;
}

#phone-number:link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  border: none;
  color: #fff;
  font-size: 1em;
}

#phone-number:hover {
  display: inline-block;
  text-decoration: none;
  border: none;
  color: #fff;
}

.info {
  margin-top: 2.5em;
}

p.address {
  margin-bottom: 0;
}

.social {
  margin: -0.8em auto;
}

@media screen and (max-width: 460px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (min-width: 768px) {
  .navbar .navbar-brand img {
    height: 4em;
  }
  ul.nav {
    margin-right: 1vw;
    padding-top: 0;
  }
  .nav a {
    padding-top: 0;
  }
  .responsive-nav-buttons {
    display: inline-block;
  }
  #home,
  #about,
  #ministries,
  #im-new,
  #contact {
    -webkit-transition: border 300ms;
    color: #000;
  }
  #home:hover,
  #about:hover,
  #ministries:hover,
  #im-new:hover,
  #contact:hover {
    text-decoration: none;
    background: none;
    border: 2px solid #000;
    color: #000;
  }
  #home:focus,
  #about:focus,
  #ministries:focus,
  #im-new:focus,
  #contact:focus {
    text-decoration: none;
    background: none;
    border: 2px solid #000;
    color: #000;
  }
  span.hamburger {
    display: none;
  }
  .headline-wrapper {
    background-repeat: no-repeat;
    background-size: 100% 90%;
    margin-left: calc(50% - 50vw);
    margin-top: -7em;
    padding-bottom: 0.9em;
  }
  .headline-tagline h1 {
    font-size: 10em;
    margin-top: 11vw;
    margin-right: 1.1em;
    margin-bottom: -0.25em;
  }
  footer {
    padding-bottom: 5em;
    margin-bottom: 0;
    overflow: hidden;
    height: 200px;
    font-size: 0.3em;
  }
  .church-info {
    margin: 4em auto 0 auto;
    font-size: 1em;
  }
  .info {
    margin-top: 0;
  }
}

@media screen and (min-width: 992px) {
  nav.navbar {
    padding: 1.1em;
  }
  #home,
  #about,
  #ministries,
  #im-new,
  #contact {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .headline-wrapper {
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100% 65%;
    margin-left: calc(50% - 50vw);
    padding-top: -3em;
    padding-bottom: 25vw;
  }
  .headline-tagline h1 {
    font-size: 14em;
    margin-top: 5vw;
    margin-right: 1.3em;
  }
  .content {
    font-size: 3em;
  }
  .content span {
    font-size: 6em;
  }
  .col-md-4 {
    padding-right: 6em;
    padding-left: 6em;
  }
  .address {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1200px) {
  .navbar .navbar-brand {
    margin-right: 5vw;
  }
  .navbar .navbar-brand img {
    height: 5em;
    margin-top: -1.5em;
  }
  nav.navbar {
    font-size: 1em;
    color: #000;
  }
  .headline-wrapper {
    margin-top: -10vw;
  }
  .headline-wrapper {
    background-repeat: no-repeat;
    background-size: 100% 90%;
    margin-left: calc(50% - 50vw);
    margin-top: -7.4em;
    padding-bottom: 0.9em;
  }
  .headline-tagline h1 {
    font-size: 20em;
    margin-top: 3vw;
    margin-right: 0.9em;
    margin-bottom: -0.2em;
  }
  #phone-number {
    font-size: 1em;
    font-family: "Open Sans", sans-seriff;
    color: #fff;
  }
  #phone-number:link {
    font-size: 1.3em;
  }
  .fa {
    margin-right: 0.1em;
  }
}

@media screen and (min-width: 1550px) {
  .navbar .navbar-brand img {
    height: 6em;
  }
  nav.navbar {
    font-size: 1.3em;
  }
  .headline-wrapper {
    margin-top: -11vw;
    padding-bottom: 3em;
  }
  .headline-tagline h1 {
    font-size: 22em;
    margin-bottom: -0.225em;
    margin-right: 1.5em;
    text-align: center;
  }
  footer {
    margin-top: 43em;
  }
}